.btn {
    
    background-color: $color-red;
    color: $color-white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &--normal {
        padding: 1.4rem 1.2rem;
        font-size: 1.6rem;
        border-radius: 1rem;

        @media (min-width: $tablet-landscape) {
            padding: 1.2rem 1rem;
            font-size: 1.4rem;
        }
    }

    &--small {
        padding: 0.5rem 0.9rem;
        font-size: 1.2rem;
        border-radius: 1rem;
        display: inline-block;

        @media (min-width: $tablet-landscape) {
            padding: 0.4rem 0.8rem;
        }
    }

    .fa-plus-circle {
        margin-right: 0.8rem;
    }
}