*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    max-width: 86rem;
    margin: 0 auto;

    @media (min-width: $tablet-portrait) {
        width: 85%;
    }

    @media (min-width: $tablet-landscape) {
        width: 80%;
    }
}